<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>פרטי הזמנה</title>

    <style>
      *,
      *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
      }

      html {
        font-size: 62.5%;
        box-sizing: border-box;
      }

      body {
        background: #dcdddf
          url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
        color: #000;
        font: 14px Arial;
        margin: 0 auto;
        padding: 5rem 5rem 10rem;
        position: relative;
      }

      h1 {
        color: #7e7e7e;
        font: bold 25px Helvetica, Arial, sans-serif;
        letter-spacing: -0.05em;
        line-height: 20px;
        margin: 10px 0 30px;
        text-align: center;
        font-size: 38px;
      }

      h2 {
        color: #7e7e7e;
        font: bold 20px Helvetica, Arial, sans-serif;
        letter-spacing: -0.05em;
        line-height: 20px;
        text-align: center;
      }

      .container {
        width: 95rem;
        margin: 0 auto;
      }

      .product {
        width: 60rem;
        margin: 0 auto;
        margin-top: 3rem;
        background: white;
        box-shadow: 0 3rem 6rem 1rem rgba(0, 0, 0, 0.2);
        position: relative;
      }

      .product__emoji {
        font-size: 15rem;
        position: absolute;
      }

      .product__emoji--1 {
        top: -4rem;
        left: -2rem;
        z-index: 10;
      }

      .product__emoji--2 {
        top: -6rem;
        left: 9rem;
      }

      .product__emoji--3 {
        top: -4rem;
        right: 15rem;
      }

      .product__emoji--4 {
        top: -5rem;
        right: 2rem;
        z-index: 10;
      }

      .product__emoji--5 {
        bottom: -9rem;
        left: 18rem;
      }

      .product__emoji--6 {
        bottom: -8rem;
        left: 5rem;
      }

      .product__emoji--7 {
        bottom: -12rem;
        right: 14rem;
      }

      .product__emoji--8 {
        bottom: -8rem;
        right: -2rem;
      }

      .product__emoji--9 {
        top: -7rem;
        left: 19rem;
      }

      .product__organic h5 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1.8rem;
        color: white;
      }

      .product__back:link,
      .product__back:visited {
        position: absolute;
        font-size: 1.7rem;
        font-weight: 700;
        text-decoration: none;
        color: #555;
        background-color: white;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.9);
        border-radius: 100rem;
        padding: 0.6rem 2.5rem;
        margin-top: 0.2rem;
      }

      .product__name {
        background: #dcdddf
          url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
        padding: 1rem;
        color: "#888";
        text-align: center;
        word-spacing: 2px;
      }

      .product__details {
        background-color: #eee;
        padding: 4rem 6rem;
        font-size: 1.9rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
        text-align: right;
      }

      .product__description {
        padding: 5rem 6rem;
        font-size: 1.6rem;
        line-height: 1.8;
        text-align: right;
      }

      .product__link:link,
      .product__link:visited {
        display: block;
        background-color: #79e17b;
        color: white;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem;
        text-align: center;
        transform: scale(1.07) skewX(-20deg);
        box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
      }

      .product__link:hover,
      .product__link:active {
        transform: scale(1.1) skewX(-20deg);
      }

      .product__link span {
        transform: skewX(20deg);
      }

      .emoji-left {
        font-size: 2rem;
      }

      .emoji-right {
        font-size: 2rem;
        margin-left: 1rem;
      }
      form {
        text-align: center;
      }
      option,
      select {
        direction: rtl;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>פרטי הזמנה</h1>

      <figure class="product">
        <a href="/" class="product__back"> 👈חזרה </a>
        <div class="product__hero"></div>
        <h2 class="product__name">פרטי לקוח</h2>
        <div class="product__details">
          <p>
            <span class="emoji-left"></span><b><u>:מספר</u></b
            ><br />{%APANUMBER%}
          </p>
          <p>
            <span class="emoji-left"></span><b><u>:רחוב</u></b
            ><br />{%STREET%}
          </p>
          <p>
            <span class="emoji-left"></span><b><u>:שם</u></b
            ><br />{%FULLNAME%}
          </p>

          <p>
            <span class="emoji-left"></span><b><u>:כניסה</u></b
            ><br />{%ENTARECE%}
          </p>
          <p>
            <span class="emoji-left"></span><b><u>:קומה</u></b
            ><br />{%FLOOR%}
          </p>
          <p>
            <span class="emoji-left"></span><b><u>:מס' דירה</u></b
            ><br />{%APARTMENT%}
          </p>
          <p>
            <span class="emoji-left"></span><b><u>:תאריך ושעת הזמנה</u></b
            ><br />{%TIME%}
          </p>
          <p>
            <span class="emoji-left"></span><b><u>:אימייל</u></b
            ><br />{%EMAIL%}
          </p>
          <p>
            <span class="emoji-left"></span><b><u>:מס' טלפון</u></b
            ><br />0{%PHONE%}
          </p>
        </div>

        <h2 class="product__name">פירוט ההזמנה</h2>

        <p class="product__description">{%DESCRIPTION%}</p>

        <h2 class="product__name">סה"כ שולם: ₪ {%PRICE%}</h2>
        <h2 class="product__name">:סטאטוס הזמנה</h2>

        <form method="POST" action="/">
          <input type="submit" value="עדכן" />
          <input type="hidden" name="nId" value="{%NID%}" />
          <select name="status" id="status">
            <option value="none" selected disabled hidden>בחר לעדכון</option>
            <option value="התקבלה">התקבלה</option>
            <option value="בטיפול">בטיפול</option>
            <option value="הסתיים">הסתיים</option>
          </select>
        </form>
      </figure>
    </div>
  </body>
</html>
