<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      #imageContainer {
        width: 300px;
        height: 160px;
      }
      h1 {
        text-align: center;
      }
      .myTable {
        border: 2px outset black;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
      }

      .container {
        border: 4px outset black;
        text-align: center;
      }

      #element1 {
        display: inline-block;
        text-align: right;
      }
      #element2 {
        display: inline-block;
        text-align: right;
        font-size: 16px;
      }

      .info {
        margin-top: 10px;
      }

      .detail {
        text-align: left;
      }

      .footer {
        margin-top: 20px;
        margin-bottom: 20px;
        color: brown;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h3>היי {%FULLNAME%}</h3>
      <h3>הזמנתך ממסעדת אווז הזהב עברה בהצלחה</h3>
      <div class="info">
        <div id="element2"><b>מספר הזמנה</b></div>
        <br />
        <div id="element1">{%IDRECEIPT%}</div>
      </div>
      <div class="info">
        <div id="element2"><b>סה"כ לתשלום</b></div>
        <br />
        <div id="element1">₪{%PRICE%}</div>
      </div>
      <div class="info">
        <div id="element2"><b>כתובת למשלוח</b></div>
        <br />
        <div id="element1">{%STREET%} {%APANUMBER%}</div>
      </div>
      <div class="info">
        <div id="element2"><b>זמן הגעה משוער</b></div>
        <br />
        <div id="element1">60 דקות</div>
      </div>
      <div class="info">
        <div id="element2"><b>טלפון לבירורים</b></div>
        <br />
        <div id="element1">08-6420006</div>
      </div>

      <h1>ההזמנה שלך</h1>
      <div class="myTable">
        <p>{%DESCRIPTION%}</p>
      </div>

      <div class="footer">
        לא ניתן להשיב למייל זה, לבירורים יש להתקשר למסעדה
      </div>
    </div>
  </body>
</html>
