<div class="containerCard">
  <figure id="contentCard">

    <div class="card__title-box">
      <h2 class="card__title">{%STATUS%} .{%NID%}</h2>
    </div>

    <div class="card__details">
      
      <a class="card__link" href="/info/{%NID%}">
        <span>👈פרטי הזמנה <i class="emoji-left"></i></span>
      </a>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:סכום</u></b
          ><br />
          <div>₪{%PRICE%}</div>
        </h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:מס' טלפון</u></b
          ><br />
          <div>0{%PHONE%}</div>
        </h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:מס' דירה</u></b
          ><br />
          <div>{%APARTMENT%}</div>
        </h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:קומה</u></b
          ><br />
          <div>{%FLOOR%}</div>
        </h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:כניסה</u></b
          ><br />
          <div>{%ENTARECE%}</div>
        </h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:מספר</u></b
          ><br />
          <div>{%APANUMBER%}</div>
        </h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:רחוב</u></b
          ><br />
          <div>{%STREET%}</div>
        </h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:שם</u></b
          ><br />
          <div>{%FULLNAME%}</div>
        </h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:סטאטוס</u></b
          ><br />
          <form method="POST" action="/">
            <input type="submit" value="עדכן" />
            <input type="hidden" name="nId" value="{%NID%}" />
            <select name="status" id="status">
              <option value="none" selected disabled hidden>בחר לעדכון</option>
              <option value="התקבלה">התקבלה</option>
              <option value="בטיפול">בטיפול</option>
              <option value="הסתיים">הסתיים</option>
            </select>
          </form>
        </h6>
      </div>
      <script></script>

      <div class="card__detail-box">
        <h6 class="card__detail">
          <b><u>:שעה</u></b
          ><br />
          <div>{%CLOCK%}</div>
        </h6>
      </div>
    </div>
  </figure>
</div>
